<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Coffee Admin</title>
    <link href="../css/Style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
    <header>
        <div class="admin-top-bar">
            <div class="nav">
                <a href="#" class="logo"><img src="../Image/LogoSample_ByTailorBrands1.jpg" /></a>
                <div class="search-box">
                    <input class="search-txt" type="text" placeholder="Tìm kiếm..." />
                    <a class="search-btn" style="text-decoration:none;" href="#"><i class="fas fa-search fa-lg"></i></a>
                </div>

                <nav>

                    <ul>
                        <li><a href="user-info.html">Danh sách khách hàng</a></li>
                        <li><a href="list-employees.html">Danh sách nhân viên</a></li>
                        <li><a href="list-products.html">Danh sách sản phẩm</a></li>

                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <h1 class="page">Danh sách nhân viên</h1>
    <div class="cart">
        <table id="shop-cart-table">
            <thead>
                <tr class="top-table">
                    <th rowspan="1" class="name">Tên nhân viên</th>
                    <th rowspan="1" class="name">Chức vụ</th>
                    <th rowspan="1" class="name">Hình ảnh</th>
                    <th rowspan="1" class="name"><span>Số điện thoại</span></th>
                    <th rowspan="1" class="name"><span>Số công</span></th>
                    <th rowspan="1" class="name">Số tiền mỗi công(VND)</th>
                    <th rowspan="1" class="name">Tiền lương(VND)</th>
                    <th rowspan="1" class="name">Thanh toán</th>
                    <th rowspan="1" class="name">Xóa khỏi danh sách</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <span>Amber Heard</span>

                    </td>
                    <td><span>Nhân viên</span></td>
                    <td style="padding:0 15px 0 15px;">
                        <br />
                        <a href="#"><img src="../Image/amber heard.jpg" /></a>
                        <br />
                        <br />
                    </td>
                    <td><span>0123456789</span>

                    <td>
                        <span>30</span>
                        <br />
                        <br />
                        <a href="#">Xem chi tiết số công</a>
                    </td>
                    <td><span>300,000</span></td>

                    <td><span>9,000,000</span></td>
                    <td>
                        <input type="checkbox" checked />


                        <br />
                        <a href="#">Cập nhật</a>
                    </td>
                    <td><a href="#"><i class="fas fa-times fa-lg"></i></a></td>

                </tr>
                <tr>
                    <td><span>Mera</span></td>
                    <td><span>Nhân viên</span></td>
                    <td>
                        <br />
                        <a href="#"><img src="../Image/amber heard.jpg" /></a>
                        <br />
                        <br />
                    </td>
                    <td><span>0123456789</span>

                    <td>
                        <span>30</span>
                        <br />
                        <br />
                        <a href="#">Xem chi tiết số công</a>
                    </td>
                    <td><span>300,000</span></td>

                    <td><span>9,000,000</span></td>
                    <td>
                        <input type="checkbox" checked />


                        <br />
                        <a href="#">Cập nhật</a>
                    </td>
                    <td><a href="#"><i class="fas fa-times fa-lg"></i></a></td>

                </tr>
                <tr>
                    <td><span>Mera</span></td>
                    <td><span>Nhân viên</span></td>
                    <td>
                        <br />
                        <a href="#"><img src="../Image/amber heard.jpg" /></a>
                        <br />
                        <br />
                    </td>
                    <td><span>0123456789</span>

                    <td>
                        <span>30</span>
                        <br />
                        <br />
                        <a href="#">Xem chi tiết số công</a>
                    </td>
                    <td><span>300,000</span></td>

                    <td><span>9,000,000</span></td>
                    <td>
                        <input type="checkbox" />


                        <br />
                        <a href="#">Cập nhật</a>
                    </td>
                    <td><a href="#"><i class="fas fa-times fa-lg"></i></a></td>

                </tr>

        </table>
        
    </div>
    
    <div class="update">
        <div class="confirm">
            <a href="#">Xác nhận</a>
        </div>
    </div>
    <footer style="background:#fff; border-top:1px solid #000;">

        <div id="admin-foot">
            <img src="../Image/LogoSample_ByTailorBrands1.jpg" />
            <div class="coppy-right" style="border-top:1px solid #000;">Copyright © 2019 . All rights reserved.</div>
        </div>
    </footer>

</body>
</html>